@import url('https://fonts.googleapis.com/css?family=Oxygen');

html {
  height: 100%;
}

body{
  font-family: 'Oxygen', sans-serif;
  background: rgb(244, 242, 242);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

nav {
  background: rgb(87, 68, 58);
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: rgb(148, 192, 77);
}

.logo {
  height: 3rem;
  display: block;
  margin: 0 auto;
}

.logo-container {
  margin: 0;
}

main p {
  margin: 1rem auto;
  text-align: justify;
}

h2 {
  font-size: 1.6rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: rgb(150, 195, 75);
}

h3 {
  font-size: 1.3rem;
  padding-bottom: 0.8rem;
  color: rgb(150, 195, 75);
}

h4 {
  color: rgb(150, 195, 75);
}

.main-content {
  flex: 1;
}

.index-picture {
  display: block;
  margin: 0 auto;
}

.instructor-photo {
  height: 180px;
  width: 240px;
}

ul {
  list-style: none;
}

.schedule {
  border: 1px solid rgb(109, 114, 61);
}

.button {
  background: rgb(148, 192, 77);
  border: 1px solid rgb(133, 166, 68);
  border-radius: 3px;
  color: white;
  text-decoration: none;
  box-shadow: 0 2px 2px rgba(0,0,0,0.25);
  text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
  transition: background-color 0.2s,box-shadow 0.2s ease,text-shadow 0.2s;
  padding: 0.4em 0.6em 0.4em 0.7em;
}

.button:hover {
  background: rgb(133, 166, 68);
}

footer {
  background: rgb(216, 232, 186);
  color: rgb(109, 114, 61);
  font-size: 0.8rem;
}

footer div {
  margin-left: 1rem !important;
}
